@using ForkFrontend.Logic.Services.Connections
@using ForkFrontend.Logic.Services.Managers
@inject EntityConnectionService EntityConnection

<EditForm Model="@InputForm" OnSubmit="OnSubmit">
    <div class="flex flex-col gap-2">
        <div class="bg-new-black p-3 flex flex-1">
            <span class="text-new-offwhite mr-1">@Prefix</span>
            <Textfield class="flex-1" @bind-Value="@InputForm.Input"></Textfield>
        </div>
        <Checkbox @bind-Value="@InputForm.SayMode" DisplayName="Chat"></Checkbox>
    </div>
</EditForm>

@code {

    [CascadingParameter] public EntityStateManager? EntityState { get; set; }

    private ConsoleInput InputForm { get; set; } = new();

    private string Prefix => InputForm.SayMode ? "/say " : "/";

    private async Task OnSubmit()
    {
        if (await EntityConnection.SubmitConsoleInAsync($"{Prefix}{InputForm.Input}", EntityState!.Entity.Id))
        {
            InputForm.Input = "";
        }
    }

    private class ConsoleInput
    {
        public bool SayMode { get; set; }
        public string? Input { get; set; }
    }

}