<div style="width: 8px;" class="bg-forkBlue-highlighted min-h-20 -my-@NegativeYMargins @(IsVisible ? "visible" : "invisible")"></div>

@code {

    [Parameter] public bool IsVisible { get; set; }

    //TODO CKE find a css way to fix this
    [Parameter] public int ParentHeight { get; set; }

    //TODO CKE find a css way to fix this
    // Value of the margin class of Tailwind
    [Parameter] public int NegativeYMargins { get; set; }

}