@*TODO CKE Replace this with ForkText Component*@
@using System.Diagnostics.CodeAnalysis
@inherits InputBase<string>
<label class="@CssClass">
    @if (DisplayName != null)
    {
        <span class="text-xs font-bold uppercase tracking-wider opacity-50">@DisplayName</span>
    }
    <input class="w-full bg-transparent outline-none" @bind="CurrentValue"/>
</label>

@code {

    protected override bool TryParseValueFromString(string? value, out string result, [NotNullWhen(false)] out string? validationErrorMessage)
    {
        result = value ?? "";
        validationErrorMessage = null;
        return true;
    }

}