@using ForkCommon.Model.Entity.Enums
@using ForkCommon.Model.Entity.Pocos
@using ForkCommon.Model.Payloads.Entity
@using ForkFrontend.Logic.Services.Connections
@using ForkFrontend.Model.Enums
@using ForkFrontend.Model.Forms
@inherits AbstractScreenComponent

@inject IEntityConnectionService EntityConnection;

<div class="flex flex-col h-full">
    @* Top Bar *@
    <div style="height: 50px" class="mb-5"></div>

    @* Main *@
    <EditForm Model="_serverPayload">
        <div class="flex-1 bg-forkBlue max-w-5xl p-4 overflow-auto">
            <span class="text-lg font-bold text-label">Create A Server</span>
            <div class="px-4 pb-10">
                <div>
                    <ForkRadio Name="ServerType" @bind-Value="SelectedVersionType" TModelValue="VersionType"
                               Values="AvailableVersionTypes" RadioType="RadioType.ButtonRow" Label="Server Type">
                    </ForkRadio>
                </div>

                <div>
                    <ForkSelect Name="ServerVersion" @bind-Value="_serverPayload.ServerVersion"
                                TModelValue="ServerVersion"
                                Values="Versions" Label="Choose Version">
                    </ForkSelect>

                </div>
            </div>

            <span class="text-lg font-bold text-label">Configure Basic Settings</span>
            <div class="px-4 pb-10">
                <div class="flex gap-8">
                    <ForkText Name="ServerName" @bind-Value="_serverPayload.ServerName" Label="Server Name"></ForkText>
                    <ForkText Name="ServerName" @bind-Value="_serverPayload.VanillaSettings.LevelName"
                              Label="World Name"></ForkText>
                </div>
                <div class="flex gap-8">
                    <ForkSelect Name="Gamemode" @bind-Value="_serverPayload.VanillaSettings.CurrGamemode"
                                TModelValue="Gamemode"
                                Values="GetAvailableGameModes()" Label="Gamemode">
                    </ForkSelect>
                    <ForkSelect Name="Gamemode" @bind-Value="_serverPayload.VanillaSettings.CurrDifficulty"
                                TModelValue="Difficulty"
                                Values="GetAvailableDifficulties()" Label="Difficulty">
                    </ForkSelect>
                </div>
            </div>

            <IconButton IconChar="'C'" IconSize="24" Size="45" OnClickMethod="OnCreateEntity"></IconButton>
        </div>
    </EditForm>
</div>

@code {
    [CascadingParameter] Error Error { get; set; } = null!;

    private readonly CreateServerPayload _serverPayload = new();

    private List<ForkFormEntity<ServerVersion, string>> Versions { get; set; } = new();
    private VersionType _selectedVersionType = VersionType.Vanilla;

    private VersionType SelectedVersionType
    {
        get => _selectedVersionType;
        set
        {
            _selectedVersionType = value;
            Versions = GetAvailableVersions(value);
            _serverPayload.ServerVersion = Versions.First().ModelValue;
        }
    }

    private List<ForkFormEntity<VersionType, string>> AvailableVersionTypes => GetAvailableVersionTypes();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Versions = GetAvailableVersions(_selectedVersionType);
        _serverPayload.ServerVersion = Versions.First().ModelValue;
    }

    private async Task OnCreateEntity(IconButton _)
    {
        ulong newEntityId = await Error.RunSafe(() => EntityConnection.CreateServerAsync(_serverPayload));
    }

    // TODO CKE make "Values" allow async enumerables properly
    private List<ForkFormEntity<ServerVersion, string>> GetAvailableVersions(VersionType versionType)
    {
        //TODO CKE implement
        List<ForkFormEntity<ServerVersion, string>> result = new();
        ServerVersion version1 = new()
        {
            Id = 0,
            Type = versionType,
            Version = "1.10.2",
            JarLink = "https://piston-data.mojang.com/v1/objects/15c777e2cfe0556eef19aab534b186c0c6f277e1/server.jar"
        };
        result.Add(new ForkFormEntity<ServerVersion, string>(version1, version1.Version));
        ServerVersion version2 = new()
        {
            Id = 0,
            Type = versionType,
            Version = "1.10.1",
            JarLink = "https://piston-data.mojang.com/v1/objects/15c777e2cfe0556eef19aab534b186c0c6f277e1/server.jar"
        };
        result.Add(new ForkFormEntity<ServerVersion, string>(version2, version2.Version));
        return result;
    }

    private List<ForkFormEntity<VersionType, string>> GetAvailableVersionTypes()
    {
        List<ForkFormEntity<VersionType, string>> result = new()
        {
            new ForkFormEntity<VersionType, string>(VersionType.Vanilla, "Vanilla"),
            new ForkFormEntity<VersionType, string>(VersionType.Paper, "Paper")
        };
        return result;
    }

    private List<ForkFormEntity<Gamemode, string>> GetAvailableGameModes()
    {
        List<ForkFormEntity<Gamemode, string>> result = new();
        foreach (Gamemode gameMode in _serverPayload.VanillaSettings.Gamemodes)
        {
            result.Add(new ForkFormEntity<Gamemode, string>(gameMode, gameMode.ToString()));
        }

        return result;
    }

    private List<ForkFormEntity<Difficulty, string>> GetAvailableDifficulties()
    {
        List<ForkFormEntity<Difficulty, string>> result = new();
        foreach (Difficulty difficulty in _serverPayload.VanillaSettings.Difficulties)
        {
            result.Add(new ForkFormEntity<Difficulty, string>(difficulty, difficulty.ToString()));
        }

        return result;
    }

}