@using ForkFrontend.Logic.Services.Translation
@inject TranslationService Translation

<span>@_value</span>

@code {

    [Parameter] [EditorRequired] public required string Path { get; set; }

    private string? _value;

    protected override async Task OnInitializedAsync()
    {
        _value = await Translation.Translate(Path);
    }

}