@page "/"
@using ForkFrontend.Logic.Services.Managers
@inject IApplicationStateManager ApplicationState

<div class="flex flex-1">
    @if (ApplicationState.IsApplicationReady)
    {
        <div class="flex flex-1 gap-2 overflow-hidden">
            @* Sidebar *@
            <CascadingValue Name="@nameof(SelectedEntity)" Value="SelectedEntity">
                <Sidebar Parent="this" OnSelectEntity="OnSelectEntity"
                         EntityManagers="ApplicationState.EntityStateManagersById"/>
            </CascadingValue>
            @* Content *@
            <div class="flex-1">
                @if (_openScreen != null)
                {
                    <ErrorBoundary>
                        <ChildContent>
                            <DynamicComponent Type="_openScreen.GetType()"></DynamicComponent>
                        </ChildContent>
                        <ErrorContent>
                            <div>Error Content</div>
                            <DynamicComponent Type="_openScreen.GetType()"></DynamicComponent>
                        </ErrorContent>
                    </ErrorBoundary>
                }
                @if (ApplicationState.EntityStateManagersById.Count > 0)
                {
                    foreach (KeyValuePair<ulong, EntityStateManager> entity in ApplicationState.EntityStateManagersById)
                    {
                        <div class="@(entity.Key == SelectedEntity?.Id ? "h-full" : "hidden")">
                            <Entity @key="@entity.Key" Value="entity.Value"></Entity>
                        </div>
                    }
                }
                else
                {
                    @* TODO CKE Welcome Screen if no server exists *@
                    <div></div>
                }
            </div>
        </div>
    }
    else
    {
        <div class="w-screen h-screen flex justify-center items-center bg-new-black flex-col">
            <span class="text-new-offwhite text-lg">@ApplicationState.ApplicationStatus</span>
            <img style="width: 116px; height: 122px" src="resources/img/loading.gif"/>
        </div>
    }

</div>