@inherits LayoutComponentBase

<div class="w-screen h-screen bg-forkBlue-dark flex flex-col select-none overflow-auto" style="min-width: 1080px; min-height: 720px;">
    <Navbar/>

    @Body
</div>

@code {

}